<div class="container">
    <h2>Data</h2>
    <p>TEST Information about users</p>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Position</th>
                <th>Computer</th>
                <th>City</th>
                <th>Service tag</th>
                <th>Date</th>
                <th>Another info tag</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <= 100; i++)
            {
                <tr>
                    <td>Denis</td>
                    <td>Kutsenko</td>
                    <td>IT</td>
                    <td>Dell</td>
                    <td>Kraków</td>
                    <td>LDG67774</td>
                    <td>10.09.2005</td>
                    <td>Noone</td>
                </tr>
            }
        </tbody>
    </table>
</div>