@model User
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <title>Document Creator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <body>

        <div class="container">
            <h2 class="text-center">Document Creator</h2><br>
                                                     <form class="form-horizontal" method="post" asp-action="Index">
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="Name">Name:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="Surname">Surname:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" class="form-control" asp-for="Surname" placeholder="Enter surname">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="Position">Position:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" class="form-control" asp-for="Position" placeholder="Enter position">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="Computer">Computer:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" class="form-control" asp-for="Computer" placeholder="Enter computer model">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="City">City:</label>
                                                             <div class="col-sm-10">
                                                                 <select asp-for="City" class="form-control">
                                                                     <option value="">Choose an option</option>
                                                                     <option value="Krakowie">Kraków</option>
                                                                     <option value="Gdańsku">Gdańsk</option>
                                                                     <option value="Przuszczu Gdańskim">Pruszcz Gdański</option>
                                                                 </select>
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="ServiceTag">Serice tag:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="text" class="form-control" asp-for="ServiceTag" placeholder="Enter service tag">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="Time">Enter date:</label>
                                                             <div class="col-sm-10">
                                                                 <input type="date" asp-for="Time" class="form-control">
                                                             </div>
                                                         </div>
                                                         <div class="form-group">
                                                             <label class="control-label col-sm-2" asp-for="AnotherInfo">Another:</label>
                                                                <div class="col-sm-10">
                                                                     <textarea class="form-control" asp-for="AnotherInfo" rows="3"></textarea>
                                                                 </div>
                                                             </div>
                                                             <div class="form-group">
                                                                 <div class="col-sm-offset-2 col-sm-10">
                                                                     <button type="submit" class="btn btn-primary">Create</button>
                                                                 </div>
                                                             </div>
                                                     </form>
        </div>

    </body>
</html>
